---
import BaseHead from "../components/BaseHead.astro";
import Blogtemplate from "../components/Blogtemplate.astro";
import image1 from "../assets/dsfasdfs.webp";
import image2 from "../assets/programmer-wallpaper.webp";
import Blogtitle from "../components/Blogtitle.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/style.css";

const blog = (await Astro.glob("./blog/*.md")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
console.log(blog);

console.log(blog[0].frontmatter.title);
console.log("Thin");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body class="bg-[#02020b] container p-0">
    <Header />
    <section>
      <div>
        <Blogtitle />
        <div
          class="flex flex-col flex-wrap mx-[48px] lg:flex-row gap-12 lg:gap-[17px] pt-16 lg:mx-[72px]"
        >
          <!-- <Blogtemplate
            img={image1}
            title={"ဒီလို အကြပ်အတည်းကာလမှာ လုပ်ငန်းတွေသုံးသင့်တဲ့ Marketing Strategy ၃ ခု အပိုင်း(၁)"}
            description={"မီတာစျေးတွေတက်လာတယ်၊ အင်တာနက် Package တွေစျေးကြီးလာတယ်၊ ဆီစျေးတွေတက်လာတယ် စတဲ့ အတက်တွေကြားမှာ လုပ်ငန်းတွေအနေနဲ့ ကိုယ့်နဲ့အတူလုပ်ကိုင်နေတဲ့ ဝန်ထမ်း၊ မိသားစုအတွက် ရသမျှနည်းလမ်းအကုန်နဲ့ထောင့်ခံ ရုန်းကန်နေရဦးမှာပါ"}
          />
          <Blogtemplate
            img={image2}
            title={"၂ မိနစ်တည်းနဲ့ သင့်လုပ်ငန်းအကြောင်း အသေးစိတ်ပြောပြနိုင်မယ်ဆိုရင်"}
            description={"၂ မိနစ်တည်းနဲ့ သင့်လုပ်ငန်းအကြောင်း အသေးစိတ်ပြောပြနိုင်မယ်ဆိုရင် အချက်အလက်ကို လိုချင်တဲ့နေရာ၊ လိုချင်တဲ့အချိန်မှာ ရယူချင်လာတဲ့ Digital ခေတ်မှာ လုပ်ငန်းတွေရဲ့ အဓိက စိန်ခေါ်မှုဟာ လိုချင်တဲ့ အချက်အလက်ကို အမြန်ဆုံးပေးနိုင်ခြင်းပဲဖြစ်ပါတယ်။"}
          />
          <Blogtemplate
            img={image2}
            title={"မြိတ်က အွန်လိုင်းသုံးစွဲသူတွေရဲ့ အကြိုက်က ဘာဖြစ်မလဲ?"}
            description={"မြိတ်မြို့မှာလုပ်ကိုင်ကြတဲ့ စီးပွားရေး လုပ်ငန်းတွေဟာ Online Marketing ရဲ့ အဓိက အရေးကြီးဆုံး အပိုင်းဖြစ်တဲ့ ကြော်ငြာစာအရေးအသားမှာ အားနည်းတာ၊ အချိန်မပေးနိုင်တာကို တွေ့ရပါတယ်။"}
          /> -->
          {
            blog &&
              blog.map((post) => (
                //  console.log(post.frontmatter.title)
                <Blogtemplate post={post.frontmatter} />
              ))
          }
        </div>
      </div>
    </section>
    <Footer />

    <script>
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
