---
import FormattedDate from "./FormattedDate.astro";

const { img, title, description, pubDate, updatedDate } = Astro.props;
console.log(Astro.props.title);
---

<div class="flex flex-col basis-[32.5%] gap-5 items-start">
  <img src={img} alt="" srcset="" />;
  <h3
    class="text-white mm-txt text-[14px] w-[100%] lg:w-[85%] leading-[21.81px] font-bold"
  >
    {title}
  </h3>
  <FormattedDate date={pubDate} />

  {
    updatedDate && (
      <div class="last-updated-on">
        Last updated on <FormattedDate date={updatedDate} />
      </div>
    )
  }
  <p class="text-[#767A81] mm-txt text-[12px] leading-[18.69px]">
    {description}
  </p>
  <button
    class="text-[14px] lg:text-[12px] font-bold uppercase tracking-wide text-white py-2 px-3 border-solid border-[1px] border-[#FAC211] rounded-lg eng-txt"
  >
    Read more
  </button>
</div>
