---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPostDetail from "../components/BlogPostDetail.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/style.css";
import FilterBlog from "../components/FilterBlog.astro";

const { content } = Astro.props;
const { img, description, paragraph, id } = content;

// console.log("Thin");
// console.log(Astro.props);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
    />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body class="bg-[#02020b] overflow-x-hidden container-fluid">
    <Header />
    <BlogPostDetail {img} {description} {paragraph}>
      <slot />
    </BlogPostDetail>
    <FilterBlog {id}>
      <slot />
    </FilterBlog>

    <Footer />
  </body>
</html>
